.neo-list-item-enter {
    opacity: 0;
    transform: scale(0.9);
}

.neo-list-item-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 800ms, transform 800ms;
}

.neo-list-item-exit {
    opacity: 1;
    transform: scale(1);
}

.neo-list-item-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 800ms, transform 800ms;
}
