@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}
body {
    height: 100vh;
    padding: 0 10%;
    // background: no-repeat bottom/25% url("./backg.jpg") rgba(255, 255, 255, 0.1);
    background-color: #ececec;
    color: #142d4c;
}
