@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}
body {
    height: 100vh;
    padding: 0 10%;
    background-color: #ececec;
    color: #142d4c;
}
